---
import LightExperience from "../components/LightExperience.astro";
import Products from "../components/Products.astro";
import MainSlider from "../components/sliders/MainSlider.astro";
import Layout from "../layouts/Layout.astro";
import LookbookSection from "../components/LookbookSection.astro";
---

<Layout title="Iluminación Hernández | Catálogo Prime">
  <main class="overflow-hidden bg-white">
    <MainSlider />
    <LightExperience />
    <Products />
    <LookbookSection />
  </main>
</Layout>
