---
import LightExperience from "../components/LightExperience.astro";
import MainSlider from "../components/sliders/MainSlider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Iluminación Hernández | Catálogo Prime">
  <main class="overflow-hidden bg-white">
    <MainSlider />
    <LightExperience />
  </main>
</Layout>
